<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Expense Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Outer Background Video -->
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="container mt-5">
        <div class="app-container">
            
            <!-- Inner Background Video -->
            <video autoplay muted loop id="content-background-video">
                <source src="{{ url_for('static', filename='backgroundin.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
